<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="My Clinic - Regression Suite" verbose="1" >
    <!--<listeners>-->
    <!--<listener class-name="org.testng.reporters.EmailableReporter2"/>-->

    <!--</listeners>-->

    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>

